In [ ]:
#1 Print nmber from 1 to 5 using a while loop.
i = 1
while i <= 5:
    print(i)
    i += 1

In [ ]:
#2 Calclate the m of nmber from 1 to 10 using a while loop.
num = 1
total = 0

while num <= 10:
    total += num
    num += 1
    
print("The sum of numbers from 1 to 10 is:", total)

In [ ]:
#3 Calclate the factorial of a nmber using a for loop.
number = int(input("Enter a number: "))
factorial = 1
for i in range(1, number + 1):
    factorial *= i

# Print the result
print("The factorial of", number, "is:", factorial)

In [ ]:
#4 Cont the nmber of vowel in a tring using a for loop.
string = input("Enter a string: ")
vowel_count = 0
vowels = {'a', 'e', 'i', 'o', 'u'}

for char in string:
    if char.lower() in vowels:
        vowel_count += 1

print("The number of vowels in the string is:", vowel_count)

In [ ]:
#5 Print a pattern using neted loop.
rows = 5
for i in range(1, rows + 1):
    for j in range(1, rows - i + 1):
        print(" ", end="")
    
    for k in range(1, i + 1):
        print("*", end="")
    
    print()

In [ ]:
#6 Generate a mltiplication table using neted loop.
table_size = 10

for i in range(1, table_size + 1):
    for j in range(1, table_size + 1):
        product = i * j
        
        print(f"{i} * {j} = {product}", end="\t")
    
    print()